src/main/resources/xsd/categories.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://pos.com/soap/categories"
        xmlns:tns="http://pos.com/soap/categories"
        elementFormDefault="qualified">

    <xs:complexType name="category">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ========================
         CATEGORY BY ID
    ========================= -->
    <xs:element name="CategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- Return a single category -->
                <xs:element name="category" type="tns:category"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ========================
         ALL CATEGORIES
    ========================= -->
    <xs:element name="AllCategoriesRequest" type="xs:anyType"/>

    <xs:element name="AllCategoriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categories" type="tns:category" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
