src/main/resources/xsd/orderItems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.pos.com/soap/orderitems"
           xmlns="http://www.pos.com/soap/orderitems"
           elementFormDefault="qualified">

    <!-- OrderItem entity -->
    <xs:element name="OrderItemRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="orderId" type="xs:long"/>
                <xs:element name="productId" type="xs:long"/>
                <xs:element name="quantity" type="xs:int"/>
                <xs:element name="price" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="OrderItemResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string" minOccurs="0"/>
                <xs:element name="orderItemId" type="xs:long" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
