src/main/resources/xsd/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pos.com/soap/products"
           xmlns:tns="http://pos.com/soap/products"
           elementFormDefault="qualified">

    <!-- ===== Product definition ===== -->
    <xs:complexType name="product">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="quantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ===== GetAllProducts ===== -->
    <xs:element name="getAllProductsRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getAllProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="products" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== SaveProduct ===== -->
    <xs:element name="saveProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="price" type="xs:decimal"/>
                <xs:element name="quantity" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="saveProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== DeleteProduct ===== -->
    <xs:element name="deleteProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== GetProductById ===== -->
    <xs:element name="getProductByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProductByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
