src/main/resources/xsd/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.pos.com/soap/users"
           xmlns:tns="http://www.pos.com/soap/users"
           elementFormDefault="qualified">

    <!-- Entity as used in requests (password allowed only on requests) -->
    <xs:complexType name="UserRequestModel">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="role" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Public user view for responses (NO password) -->
    <xs:complexType name="UserView">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="role" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Get all -->
    <xs:element name="GetAllUsersRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:UserView" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get by id -->
    <xs:element name="GetUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:UserView" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Save (create/update) -->
    <xs:element name="SaveUserRequest" type="tns:UserRequestModel"/>
    <xs:element name="SaveUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:UserView" minOccurs="0"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Delete -->
    <xs:element name="DeleteUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DeleteUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
