src/main/resources/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pos.com/soap/ws"
           xmlns:tns="http://pos.com/soap/ws"
           elementFormDefault="qualified">

    <!-- ===== Entity Type ===== -->
    <xs:complexType name="Customer">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="firstName" type="xs:string" minOccurs="0"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            <xs:element name="email" type="xs:string" minOccurs="0"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="address" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ===== Requests ===== -->
    <xs:element name="GetCustomerByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllCustomersRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="SaveCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="firstName" type="xs:string" minOccurs="0"/>
                <xs:element name="lastName" type="xs:string" minOccurs="0"/>
                <xs:element name="email" type="xs:string" minOccurs="0"/>
                <xs:element name="phone" type="xs:string" minOccurs="0"/>
                <xs:element name="address" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteCustomerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== Response ===== -->
    <xs:element name="CustomerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:Customer" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
