src/main/resources/sales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://pos.com/soap/ws"
           xmlns:tns="http://pos.com/soap/ws"
           elementFormDefault="qualified">

    <!-- ===== Entity Type ===== -->
    <xs:complexType name="Sale">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="cashierId" type="xs:long"/>
            <xs:element name="productId" type="xs:long"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="totalPrice" type="xs:double"/>
            <xs:element name="saleDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ===== Requests ===== -->
    <xs:element name="GetSaleByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllSalesRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="SaveSaleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="cashierId" type="xs:long"/>
                <xs:element name="productId" type="xs:long"/>
                <xs:element name="quantity" type="xs:int"/>
                <xs:element name="totalPrice" type="xs:double"/>
                <xs:element name="saleDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DeleteSaleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ===== Response ===== -->
    <xs:element name="SaleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sale" type="tns:Sale" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
